<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>App</title>
    </head>
  <body>
    {{{body}}}

    <h2>
      <ul>
        <li><a href="http://127.0.0.1:3000/">Базовый url</a></li>
        <li>
          <a href="http://127.0.0.1:3000/service?service_name=test">Тестовый url 1 (service)</a> 
        </li>
        <li>
          <a href="http://127.0.0.1:3000/blog?article=test_article">Тестовый url 2 (blog)</a> 
        </li>
        <li>
          <a href="http://127.0.0.1:3000/location?city=Tiraspol">Тестовый url 3 (city)</a> 
        </li>
      </ul>
    </h2>
  </body>
</html>