<section class="blog-card">
    <div class="blog-header">
        <img class="img-fluid" src="{{ picture }}" alt="No image" srcset="">
    </div>
    <div class="blog-body">
        <div class="blog-title">
            <h2>{{ title }}</h2>
        </div>
        <div class="blog-text">
            <p>{{ content }}</p>
        </div>
        <div class="blog-footer">
            <div class="blog-published-date">
                Автор: {{ author }}
            </div>
        </div>
    </div>
</section>
