<nav id="myTopnav">
    <img src="img/fort-icon.png" alt="Логотип сайта">
    <ul class="menu">
        <li>
            <a href="http://127.0.0.1:3000/" class="menu-element" data-link="top" title="На главную">Главная</a>
        </li>
        <li>
            <a href="#portfolio" class="menu-element" data-link="portfolio" title="Фотогалерея">Галерея</a>
        </li>
        <li>
            <a href="#contact" class="menu-element" data-link="contact" title="Контактная информация">Контакты</a>
        </li>
        <li>
            <a href="services.html" class="menu-element" title="Услуги">Услуги</a>
        </li>
        <li>
            <a href="http://127.0.0.1:3000/blog" class="menu-element" title="Блог сайта">Блог</a>
        </li>
        <li>
            <a href="location.html" class="menu-element" title="Контактны компании">Найти</a>
        </li>
    </ul>
    <div id="hamburger" class="icon">
        &#9776;
    </div>
</nav>
